<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Scrum Poker</strong>
        {{ t("by-group-name", { groupName: "No Name 2" }) }}
        {{ t("source-licensed") }}
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a
        >{{ t("source-licensed-second") }}
        {{ t("content-licensed") }}
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
          >CC BY NC SA 4.0</a
        >{{ t("content-licensed-second") }}
      </p>
    </div>
  </footer>
</template>

<i18n lang="yaml">
de:
  by-group-name: "von {groupName}."
  source-licensed: "Der Quellcode steht unter"
  source-licensed-second: "-Lizenz."
  content-licensed: "Der Inhalt der Webseite steht unter"
  content-licensed-second: "-Lizenz."
en:
  by-group-name: "by {groupName}."
  source-licensed: "The source code is licensed under a"
  source-licensed-second: " license."
  content-licensed: "The website content is licensed under a"
  content-licensed-second: " license."

</i18n>
<script>
import { useI18n } from "vue-i18n";

export default {
  name: "Footer",
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
};
</script>

<style scoped></style>
