<template>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" @click="onHome()"> Scrum Poker </a>
      <a
        role="button"
        class="navbar-burger"
        :class="{ 'is-active': isBurgerActive }"
        aria-label="menu"
        aria-expanded="false"
        data-target="mainNavbar"
        @click="isBurgerActive = !isBurgerActive"
      >
        <span aria-hidden="false" />
        <span aria-hidden="false" />
        <span aria-hidden="false" />
      </a>
    </div>
    <div
      id="mainNavbar"
      class="navbar-menu"
      :class="{ 'is-active': isBurgerActive }"
    >
      <div class="navbar-start">
        <NavBarGroups v-if="loggedIn" />
        <NavBarLastRooms />
      </div>

      <div class="navbar-end">
        <NavBarLanguageChooser />
        <NavBarAccount />
      </div>
    </div>
  </nav>
</template>

<script>
import NavBarAccount from "@/components/app/navbar/NavBarAccount.vue";
import NavBarGroups from "@/components/app/navbar/NavBarGroups.vue";
import NavBarLastRooms from "@/components/app/navbar/NavBarLastRooms.vue";
import NavBarLanguageChooser from "@/components/app/navbar/NavBarLanguageChooser.vue";

import { getDisplayName } from "@/helper/profile.js";

export default {
  name: "NavBar",
  components: {
    NavBarAccount,
    NavBarGroups,
    NavBarLastRooms,
    NavBarLanguageChooser,
  },
  data() {
    return {
      displayName: "",
      isBurgerActive: false,
    };
  },
  computed: {
    /**
     * Check if username got at least one character
     */
    loggedIn() {
      return this.displayName.length > 0;
    },
  },
  mounted() {
    this.displayName = getDisplayName();
  },
  methods: {
    nameChanged(userName) {
      this.displayName = userName;
    },
    /**
     * return to Home Screen
     */
    onHome() {
      window.location.href = "/";
    },
  },
};
</script>