<template>
  <div class="panel my-6 frame has-text-centered">
    <p class="panel-heading">
      {{ t("login") }}
    </p>
    <social-login-button
      v-for="provider in providers"
      :key="provider.providerName"
      v-bind="provider"
      :csrf-middleware-token="csrfMiddlewareToken"
    />
  </div>
</template>

<i18n lang="yaml">
en:
  login: "Login"
de:
  login: "Einloggen"
</i18n>


<script>
import SocialLoginButton from "@/components/login/SocialLoginButton.vue";
import { useI18n } from "vue-i18n";
import { getCrsfToken } from "@/helper/crsf.js";

export default {
  name: "LoginPanel",
  components: {
    SocialLoginButton,
  },
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      providers: [],
      csrfMiddlewareToken: "",
    };
  },
  mounted() {
    /**
     * Get active providers from backend
     */
    this.providers = JSON.parse(
      document
        .getElementById("socialaccount-providers")
        .textContent.replace(/\r|\n/g, "")
    );

    this.csrfMiddlewareToken = getCrsfToken();
  },
};
</script>

<style>
.frame {
  margin-right: auto;
  margin-left: auto;
  min-width: 30%;
}
</style>
