<template>
  <a class="panel-block" :href="providerLoginUrl">
    <button class="button is-primary is-medium centered">
      <span class="icon is-left">
        <font-awesome-icon :icon="providerIconArray" />
      </span>
      <span>{{ t("login-with", { provider: providerName }) }}</span>
    </button>
  </a>
</template>

<i18n lang="yaml">
en:
  login-with: "Login with {provider}"
de:
  login-with: "Einloggen mit {provider}"
</i18n>

<script>
// TODO: Move these imports into django code as django knows of the used providers
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faGithub,
  faGitlab,
  faGoogle,
  faSteam,
  faOpenid,
} from "@fortawesome/free-brands-svg-icons";
import { useI18n } from "vue-i18n";

library.add(faGitlab);
library.add(faGithub);
library.add(faGoogle);
library.add(faOpenid);
library.add(faSteam);

export default {
  name: "SocialLoginButton",
  components: {
    FontAwesomeIcon,
  },
  props: {
    providerName: {
      type: String,
      required: true,
    },
    providerLoginUrl: {
      type: String,
      required: false,
      default: "login/test",
    },
  },
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  computed: {
    /**
     * Generalize provider name for further use
     */
    providerTag() {
      return this.providerName.toLowerCase();
    },
    /**
     * Get array of provider icons
     */
    providerIconArray() {
      return ["fab", this.providerTag];
    },
  },
};
</script>

<style scoped>
.centered {
  margin-left: auto;
  margin-right: auto;
}
</style>
