<template>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img :src="accountAvatarUrl" alt="Avatar" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
          <form action="/accounts/disconnect/" method="post">
            <input
              type="hidden"
              name="csrfmiddlewaretoken"
              :value="csrfMiddlewareToken"
            />
            <input type="hidden" name="csrf_input" :value="csrfToken" />
            <input
              type="hidden"
              name="disconnectProvider"
              :value="providerName"
            />
            <input
              type="hidden"
              name="disconnectAccount"
              :value="accountProfileUrl"
            />
            <button class="button is-primary is-medium">
              <span>
                {{ t("disconnect-from", { provider: provider }) }}
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<i18n lang="yaml">
en:
  disconnect-from: "Disconnect from {provider}"
de:
  disconnect-from: "Verbindung mit {provider} auflösen"
</i18n>

<script>
import { useI18n } from "vue-i18n";

export default {
  name: "SocialLogoutButton",
  props: {
    accountProfileUrl: {
      type: String,
      required: true,
    },
    accountAvatarUrl: {
      type: String,
      required: true,
    },
    providerName: {
      type: String,
      required: true,
    },
    csrfToken: {
      type: String,
      required: true,
    },
    csrfMiddlewareToken: {
      type: String,
      required: true,
    },
  },
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
};
</script>
