<template>
  <div id="app">
    <NavBar ref="navbar" />

    <div id="mainContainer" class="columns">
      <slot />
    </div>

    <Footer />
  </div>
</template>

<script>
import NavBar from "@/components/app/NavBar.vue";
import Footer from "@/components/app/Footer.vue";

export default {
  name: "App",
  components: {
    NavBar,
    Footer,
  },
  methods: {
    nameChanged(userName) {
      this.$refs.navbar.nameChanged(userName);
    },
  },
};
</script>

<style scoped>
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#mainContainer {
  flex-grow: 1;
  margin: 0;
}
</style>
