<template>
  <p
    class="panel-heading"
    :class="{ borderradiusless: showInputField }"
    @click="last_seen_room_overview()"
  >
    {{ t("rooms") }}
  </p>
  <label v-if="!lastRooms || !lastRooms.length" class="ml-4">
    {{ t("not_rooms") }}
  </label>
  <label
    v-for="room in lastRooms"
    v-else
    :key="room"
    class="panel-block"
    @click="gotoroom(room.name)"
  >
    {{ room.name }}
  </label>
</template>

<i18n lang="yaml">
en:
  rooms: "Last Rooms"
  not_rooms: "You haven't been in a room yet"
de:
  rooms:  "Letzte Räume"
  not_rooms: "Du hast bisher keine Räume besucht"
</i18n>

<script>
import { useI18n } from "vue-i18n";
import { getLastRooms } from "@/helper/room.js";
import { getCrsfToken } from "@/helper/crsf.js";

export default {
  name: "LastSeenRooms",
  components: {},
  props: {
    showInputField: {
      type: Boolean,
      default: false,
    },
  },
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      lastRooms: [],
      csrfMiddlewareToken: "",
    };
  },
  mounted() {
    this.lastRooms = getLastRooms();

    this.csrfMiddlewareToken = getCrsfToken();
  },
  methods: {
    /**
     * Go to given room
     */
    gotoroom(room) {
      window.location.href = "/room/" + room;
    },
    /**
     * Go back to room overview
     */
    last_seen_room_overview() {
      window.location.href = "/room/";
    },
  },
};
</script>

<style scoped>
.borderradiusless {
  border-radius: 0;
}
</style>