<template>
  <p
    class="panel-heading"
    :class="{ borderradiusless: showInputField }"
    @click="team_overview()"
  >
    {{ t("team_rooms") }}
  </p>
  <label v-if="!TeamRooms || !TeamRooms.length" class="ml-4">
    {{ t("no_team_rooms") }}
  </label>
  <label
    v-for="room in TeamRooms"
    v-else
    :key="room"
    class="panel-block"
    @click="gotoroom(room)"
  >
    {{ room }}
  </label>
</template>

<i18n lang="yaml">
en:
  team_rooms: "Teamrooms"
  no_team_rooms: "You aren't in a Team"
de:
  team_rooms:  "Gruppenräume"
  no_team_rooms: "Du bist in keiner Gruppe"
</i18n>

<script>
import { useI18n } from "vue-i18n";
import { getTeams } from "@/helper/profile.js";

export default {
  name: "TeamRooms",
  components: {},
  props: {
    showInputField: {
      type: Boolean,
      default: false,
    },
  },
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      TeamRooms: [],
    };
  },
  mounted() {
    this.TeamRooms = getTeams();
  },
  methods: {
    /**
     * Go to given teamroom
     */
    gotoroom(team_room) {
      window.location.href = "/team/" + team_room;
    },
    /**
     * Get back to teamroom overview
     */
    team_overview() {
      window.location.href = "/team/";
    },
  },
};
</script>
<style scoped>
.borderradiusless {
  border-radius: 0;
}
</style>