<template>
  <div
    class="gamecard"
    :class="{ disabled: disable }"
    @click="if (!disable) $emit('cardClicked', number);"
  >
    <div v-if="showFront">
      <p class="left-number">
        {{ number }}
      </p>

      <p class="number-middle">
        {{ number }}
      </p>

      <p class="rigth-number">
        {{ number }}
      </p>
    </div>
    <div v-else>
      <p class="gamename">Scrum Poker</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    showFront: {
      type: Boolean,
      default: true,
    },
    number: {
      type: String,
      default: "0",
    },
    disable: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["cardClicked"],
};
</script>

<style>
.gamecard {
  height: 100px;
  width: 76px;
  background-color: #ede7f6;
  border: 5px;
  border-style: solid;
  border-width: 3px;
  border-color: #4527a0;
  border-radius: 5px;
  position: relative;
  margin: auto;
}

.gamecard.disabled {
  background-color: grey;
  border-color: grey;
}

.number-middle {
  font-size: 20pt;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.left-number {
  font-size: 12pt;
  margin: auto;
  padding: 2px;
  text-align: left;
}

.rigth-number {
  font-size: 12pt;
  margin: auto;
  padding: 2px;
  text-align: right;
}

.gamename {
  font-size: 15pt;
  margin: auto;
  align-self: center;
  text-align: center;

  transform: translate(-50%, -50%);

  position: absolute;
  top: 50%;
  left: 50%;
}
</style>