<template>
  <transition name="modal">
    <div class="modal" :class="{ 'is-active': showModal }">
      <div class="modal-background" />
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ t("share-room-url") }}</p>
          <button class="delete" aria-label="close" @click="hide" />
        </header>
        <section class="modal-card-body">
          <p>{{ t("your-current-room-is") }} {{ roomcode }}</p>
          <div class="field level">
            <div class="field has-addons space mb-0">
              <div class="control">
                <input
                  class="textareaURL input is-primary"
                  type="text"
                  :value="connectionStr"
                  readonly
                />
              </div>

              <div class="control">
                <button class="copyURL button is-primary" @click="onCopyURL">
                  {{ t("copy-url") }}
                </button>
              </div>
            </div>
            <div class="control space">
              <a
                :href="
                  'mailto:?subject=' +
                  t('join-subject') +
                  '&amp;body=' +
                  t('join-body-before-roomcode') +
                  ' ' +
                  roomcode +
                  '. ' +
                  t('join-body-after-roomcode') +
                  ': ' +
                  connectionStr
                "
                class="button is-primary"
              >
                {{ t("share-using-mail") }}
              </a>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-primary" @click="hide">
            {{ t("close-modal") }}
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>

<i18n lang="yaml">
de:
  share-room-url: "Teilen"
  your-current-room-is: "Sie befinden sich aktuell im Raum "
  share-using-mail: "Über E-Mail teilen"
  copy-url: "URL kopieren"
  close-modal: "Schließen"
  join-subject: "ScrumPoker beitreten"
  join-body-before-roomcode: "Treten Sie unserem Raum bei ScrumPoker bei. Ihr Raumname ist"
  join-body-after-roomcode: "Nutzen Sie den folgenden Link"

en:
  share-room-url: "Share"
  your-current-room-is: "Your current room is "
  share-using-mail: "Share using e-mail"
  copy-url: "Copy URL"
  close-modal: "Close"
  join-subject: "Join ScrumPoker"
  join-body-before-roomcode: "Join our room on ScrumPoker online. Your roomcode is"
  join-body-after-roomcode: "Use the following Link"

</i18n>

<script>
import { useI18n } from "vue-i18n";
export default {
  name: "InviteOtherUser",
  props: {
    showModal: Boolean,
    roomcode: {
      type: String,
      default: "",
    },
  },
  emits: ["update:showModal"],
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      connectionStr: window.location.href,
    };
  },

  methods: {
    /**
     * Close Modal
     */
    hide() {
      this.$emit("update:showModal", false);
    },
    /**
     * Copy content of input field to clipboard
     */
    onCopyURL() {
      var copyTextarea = document.querySelector(".textareaURL");
      copyTextarea.focus();
      copyTextarea.select();

      try {
        var successful = document.execCommand("copy");
        var msg = successful ? "successful" : "unsuccessful";
      } catch (err) {
        console.log("Oops, unable to copy");
      }
    },
  },
};
</script>
<style scoped>
.space {
  padding: 5px;
  padding-top: 20px;
}
</style>
