<template>
  <aside id="leftPanel" class="column has-background-primary-light">
    <article>
      <h4 class="title is-4">{{ t("team-members") }}</h4>

      <EditLabel
        :label-value="currentUser.userName"
        :edit-rights="currentUser.permissions.includes('change_username')"
        :check-input="getDuplicateNameChecker(currentUser)"
        @labelChanged="(userName) => $emit('ownUserNameChanged', userName)"
      >
        <template #icon-left>
          <font-awesome-icon icon="user-edit" />
        </template>
        <template #invalidHelp>
          {{ t("user-name-already-taken") }}
        </template>
      </EditLabel>

      <EditLabel
        v-for="user in otherUsers"
        :key="user.userChannelName"
        :label-value="user.userName"
        :edit-rights="currentUser.permissions.includes('change_other_username')"
        :check-input="getDuplicateNameChecker(user)"
        @labelChanged="(userName) => $emit('userNameChanged', user, userName)"
      >
        <template #icon-left>
          <font-awesome-icon icon="user-edit" />
        </template>
        <template #content-label>
          <span v-if="user.status" class="icon is-left">
            <font-awesome-icon icon="check-circle" />
          </span>
        </template>
        <template #content-right>
          <div
            v-if="
              currentUser.permissions.includes('kick_user') &&
              !user.permissions.includes('not_kickable')
            "
            class="level-item"
          >
            <button
              class="level-item button is-primary is-small is-outlined"
              @click="kickUserByUserChannelName(user.userChannelName)"
            >
              {{ t("kick") }}
            </button>
          </div>
        </template>
        <template #invalidHelp>
          {{ t("user-name-already-taken") }}
        </template>
      </EditLabel>
      <InviteOtherUser v-model:show-modal="modalShown" :roomcode="roomcode" />
      <div class="contol">
        <button
          class="button is-outlined is-fullwidth modal-button"
          @click="modalShown = !modalShown"
        >
          {{ t("add-user") }}
        </button>
      </div>
    </article>

    <article>
      <h4 class="title is-4">{{ t("votings") }}</h4>

      <EditLabel
        v-for="(voting, index) in votings"
        :key="voting"
        :label-value="getVotingName(index, voting)"
        :edit-rights="currentUser.permissions.includes('change_voting_names')"
        :link-label="curentVotingIndex != index"
        @labelClicked="$emit('switchedVoting', index)"
        @labelChanged="
          (labelValue) => $emit('voteNameChanged', voting, labelValue)
        "
      >
        <template #icon-left>
          <font-awesome-icon icon="edit" />
        </template>
        <template #content-label>
          <span v-if="voting.done" class="icon is-left">
            <font-awesome-icon icon="check-circle" />
          </span>
        </template>
        <template #content-right>
          <div
            v-if="
              currentUser.permissions.includes('delete_voting') && !lastVoting
            "
            class="level-item"
          >
            <button
              class="level-item button is-primary is-small is-outlined"
              @click="$emit('removeVoting', voting)"
            >
              {{ t("delete") }}
            </button>
          </div>
        </template>
      </EditLabel>

      <button
        v-if="currentUser.permissions.includes('add_voting')"
        class="button is-outlined is-fullwidth"
        @click="$emit('addVoting')"
      >
        {{ t("add_voting") }}
      </button>
    </article>
  </aside>
</template>

<i18n lang="yaml">
en:
  team-members: "Teammembers"
  kick: "Kick"
  delete: "Delete"
  add_voting: "Add voting"
  add-user: "Invite User"
  votings: "Votings"
  vote: "Vote"
  user-name-already-taken: "This Username is already taken"
de:
  team-members: "Gruppenmitglieder"
  kick: "Rauswerfen"
  delete: "Löschen"
  add_voting: "Abstimmung hinzufügen"
  add-user: "Nutzer einladen"
  votings: "Abstimmungen"
  vote: "Abstimmung"
  user-name-already-taken: "Dieser Nutzername wird bereits verwendet"
</i18n>

<script>
import InviteOtherUser from "@/components/room/InviteOtherUser";
import EditLabel from "@/components/general/EditLabel.vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faUserEdit } from "@fortawesome/free-solid-svg-icons";
import { faEdit } from "@fortawesome/free-solid-svg-icons";
import { faCheckCircle } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { useI18n } from "vue-i18n";

library.add(faUserEdit);
library.add(faEdit);
library.add(faCheckCircle);

export default {
  name: "LeftPanel",
  components: {
    InviteOtherUser,
    EditLabel,
    FontAwesomeIcon,
  },
  props: {
    currentUser: {
      type: Object,
      required: true,
    },
    otherUsers: {
      type: Object,
      required: true,
    },
    votings: {
      type: Object,
      required: true,
    },
    curentVotingIndex: {
      type: Number,
      required: true,
    },
    roomcode: {
      type: String,
      required: true,
    },
  },
  emits: [
    "kickUser",
    "ownUserNameChanged",
    "userNameChanged",
    "voteNameChanged",
    "addVoting",
    "removeVoting",
    "switchedVoting",
  ],
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      modalShown: false,
    };
  },
  computed: {
    lastVoting() {
      return this.votings.length <= 1;
    },
  },
  methods: {
    /**
     * Returns a function which will check if any user except the given user already has the given name
     */
    getDuplicateNameChecker(user) {
      const users = this.otherUsers
        .concat(this.currentUser)
        .filter((otherUser) => otherUser !== user);

      return (userName) => {
        return !users.some((otherUser) => otherUser.userName === userName);
      };
    },
    /**
     * Remove user from room
     */
    kickUserByUserChannelName(userChannelName) {
      this.$emit("kickUser", userChannelName);
    },
    /**
     * Check if voting has name and returns default name otherwise
     */
    getVotingName(index, voting) {
      if (voting.name !== "") return voting.name;

      return this.t("vote") + " " + (index + 1);
    },
  },
};
</script>
<style scoped>
#leftPanel {
  display: flex;
  flex-direction: column;
}

#leftPanel > * {
  flex-grow: 1;
}
</style>