<template>
  <aside class="column has-background-primary-light">
    <div v-if="voting.voted" id="evaluation">
      <h4 class="title is-4">
        {{ t("evaluation") }}
      </h4>
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th scope="col">
              {{ t("selection") }}
            </th>
            <th scope="col">
              {{ t("count") }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="[key, value] in Object.entries(voteEvaluation)" :key="key">
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
        </tbody>
      </table>
      <label>
        {{ t("highest-vote", { highestVote: highestVote }) }}
      </label>
      <label>
        {{ t("lowest-vote", { lowestVote: lowestVote }) }}
      </label>
      <label>
        {{ t("average-vote", { averageVote: averageVote }) }}
      </label>
    </div>

    <div id="button-row">
      <button
        v-if="voting.voted && currentUser.permissions.includes('revote')"
        class="button"
        @click="$emit('reVote')"
      >
        {{ t("revote") }}
      </button>
      <button
        v-else-if="currentUser.permissions.includes('show_votes')"
        class="button"
        @click="$emit('showVotes')"
      >
        {{ t("uncover") }}
      </button>

      <button
        v-if="currentUser.permissions.includes('next_voting')"
        class="button"
        @click="$emit('nextVoting')"
      >
        {{ t("next_voting") }}
      </button>
      <button class="button" @click="showSettings = true">
        {{ t("settings") }}
      </button>

      <SettingsModal
        v-model:show-modal="showSettings"
        :other-users="otherUsers"
        :permissions="permissions"
        :current-user="currentUser"
        @permissionChanged="
          (selectedUser, permissioName, hasPermission) =>
            $emit(
              'permissionChanged',
              selectedUser,
              permissioName,
              hasPermission
            )
        "
      />
    </div>
  </aside>
</template>

<i18n lang="yaml">
de:
  evaluation: "Auswertung"
  settings: "Einstellungen"
  uncover: "Aufdecken"
  revote: "Erneut abstimmen"
  next_voting: "Nächste Abstimmung"
  highest-vote: "Höchster Wert: {highestVote}"
  lowest-vote: "Niedrigster Wert: {lowestVote}"
  average-vote: "Durschnitt: {averageVote}"
  selection: "Auswahl"
  count: "Anzahl"
en:
  evaluation: "Evaluation"
  settings: "Settings"
  uncover: "Uncover"
  revote: "Vote again"
  next_voting: "Next Voting"
  highest-vote: "Highest vote: {highestVote}"
  lowest-vote: "Lowest vote: {lowestVote}"
  average-vote: "Average: {averageVote}"
  selection: "Selection"
  count: "Count"

</i18n>
<script>
import SettingsModal from "@/components/settings/SettingsModal";
import { useI18n } from "vue-i18n";

export default {
  name: "RightPanel",
  components: {
    SettingsModal,
  },
  props: {
    currentUser: {
      type: Object,
      required: true,
    },
    voting: {
      type: Object,
      required: true,
    },
    otherUsers: {
      type: Object,
      required: true,
    },
    permissions: {
      type: Object,
      required: true,
    },
  },
  emits: ["showVotes", "reVote", "permissionChanged", "nextVoting"],
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      showSettings: false,
    };
  },
  computed: {
    /**
     * Counts votes per number and return evaluation as map
     */
    voteEvaluation() {
      return this.votes.reduce((accumulator, currentValue) => {
        accumulator[currentValue] = ++accumulator[currentValue] || 1;
        return accumulator;
      }, {});
    },
    /**
     * Evaluates highest given vote
     */
    highestVote() {
      return Math.min(...this.getNumericVotes());
    },
    /**
     * Evaluates lowest given vote
     */
    lowestVote() {
      return Math.max(...this.getNumericVotes());
    },
    /**
     * Computes averange voting value
     */
    averageVote() {
      const numericVotes = this.getNumericVotes();
      return (
        numericVotes.reduce(
          (accumulator, currentValue) => accumulator + currentValue,
          0
        ) / numericVotes.length
      );
    },
    /**
     * returns votes
     */
    votes() {
      return Object.values(this.voting.votes);
    },
  },
  methods: {
    /**
     * Only returns votes of numbers (excludes ? and not voted)
     */
    getNumericVotes() {
      return this.votes
        .filter((vote) => {
          return !isNaN(vote);
        })
        .map(Number);
    },
  },
};
</script>

<style scoped>
aside {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#button-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
}

#evaluation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>