<template>
  <main class="column is-half">
    <h1 class="title">
      {{ t("your-estimate") }}
    </h1>

    <div class="columns is-multiline">
      <div v-for="number in numbers" :key="number" class="column is-narrow">
        <Card :number="number" :disable="voting.voted" @cardClicked="voted" />
      </div>
    </div>

    <h1 class="title">
      {{ t("result") }}
    </h1>

    <div v-if="voting.done" class="columns is-multiline">
      <div
        v-for="[userName, number] in votes.entries()"
        :key="userName"
        class="column is-narrow"
      >
        <label>{{ userName }}</label>
        <Card :show-front="true" :number="number" />
      </div>
    </div>

    <div v-else class="columns is-multiline">
      <div class="column is-narrow">
        <label>{{ currentUser.userName }}</label>
        <Card :show-front="showOwnVote" :number="ownVote" />
      </div>

      <div
        v-for="user in otherUsers"
        :key="user.userChannelName"
        class="column is-narrow"
      >
        <label>{{ user.userName }}</label>
        <Card
          :show-front="voting.voted"
          :number="getVoteByName(user.userName)"
        />
      </div>
    </div>
  </main>
</template>

<i18n lang="yaml">
de:
  result: "Ergebnis"
  your-estimate: "Deine Schätzung"
en:
  result: "Result"
  your-estimate: "Your rating"

</i18n>

<script>
import { useI18n } from "vue-i18n";
import Card from "./Card";

export default {
  name: "VotePanel",
  components: {
    Card,
  },
  props: {
    currentUser: {
      type: Object,
      required: true,
    },
    otherUsers: {
      type: Object,
      required: true,
    },
    voting: {
      type: Object,
      required: true,
    },
  },
  emits: ["voted"],
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      currentVote: null,
      numbers: ["?", "1", "2", "3", "5", "8", "13", "21", "44", "65"],
    };
  },
  computed: {
    /**
     * Function that returns map of all votes
     */
    votes() {
      return new Map(Object.entries(this.voting.votes));
    },
    /**
     * Function that returns your own vote
     */
    ownVote() {
      if (this.voting.voted)
        return this.getVoteByName(this.currentUser.userName);
      return this.currentVote;
    },
    /**
     * Function to show your own vote
     */
    showOwnVote() {
      return this.voting.voted || this.currentVote !== null;
    },
  },
  watch: {
    /**
     * If voted changes to false, then it's a revote and therefore reset currentVote
     */
    voting(newVoting) {
      if (!newVoting.voted) this.currentVote = null;
    },
  },
  methods: {
    /**
     * Sets your voting
     */
    voted(vote) {
      this.currentVote = vote;
      this.$emit("voted", vote);
    },
    /**
     * Check if user voted
     */
    getVoteByName(name) {
      return this.votes.get(name) || "";
    },
  },
};
</script>

<style></style>