<template>
  <div class="navbar-item">
    <div v-if="loggedIn">
      <div class="dropdown is-right is-hoverable">
        <div class="dropdown-trigger">
          <button
            class="button"
            aria-haspopup="true"
            aria-controls="dropdown-menu"
          >
            <figure class="image is-24x24">
              <img class="is-rounded" :src="displayProfile.accountAvatarUrl" />
            </figure>
            <span class="ml-2">{{ displayName }}</span>
            <span class="icon is-left">
              <font-awesome-icon :icon="['fas', 'angle-down']" />
            </span>
          </button>
        </div>
        <div id="dropdown-menu" class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <DropdownButton method="get" action="/profile/">
              {{ t("profile") }}
            </DropdownButton>
            <hr class="dropdown-divider" />
            <DropdownButton method="post" action="/logout/">
              {{ t("logout") }}
            </DropdownButton>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="buttons">
      <button class="button is-primary" @click="onLogin()">
        {{ t("sign-up") }}
      </button>

      <button class="button is-light" @click="onLogin()">
        {{ t("log-in") }}
      </button>
    </div>
  </div>
</template>

<i18n lang="yaml">
en:
  log-in: "Log in"
  sign-up: "Sign up"
  logout: "Logout"
  profile: "Profile"
de:
  log-in: "Einloggen"
  sign-up: "Registrieren"
  logout: "Ausloggen"
  profile: "Profil"
</i18n>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faAngleDown } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { useI18n } from "vue-i18n";

import DropdownButton from "@/components/general/DropdownButton.vue";

import { getDisplayName, getSocialAccountProfile } from "@/helper/profile.js";

library.add(faAngleDown);

export default {
  name: "NavBarAccount",
  components: {
    DropdownButton,
    FontAwesomeIcon,
  },
  setup() {
    const { t } = useI18n();
    const { locale } = useI18n({ useScope: "global" });
    return {
      t,
      locale,
    };
  },
  data() {
    return {
      csrfMiddlewareToken: "",
      displayProfile: null,
      displayName: "",
    };
  },
  computed: {
    loggedIn() {
      return this.displayName.length > 0;
    },
  },
  mounted() {
    this.displayName = getDisplayName();
    this.displayProfile = getSocialAccountProfile();
  },
  methods: {
    onLogin() {
      window.location.href = "/login/";
    },
  },
};
</script>