<template>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link" @click="last_seen_room_overview()">
      {{ t("rooms") }}
    </a>

    <div class="navbar-dropdown">
      <a
        v-for="room in lastRooms"
        :key="room"
        class="navbar-item"
        @click="gotoroom(room.name)"
      >
        {{ room.name }}
      </a>
    </div>
  </div>
</template>

<i18n lang="yaml">
en:
  rooms: "Rooms"
de:
  rooms:  "Räume"
</i18n>

<script>
import { useI18n } from "vue-i18n";

import { getLastRooms } from "@/helper/room.js";

export default {
  name: "NavBarLastRooms",
  setup() {
    const { t } = useI18n();
    return { t };
  },
  data() {
    return {
      lastRooms: [],
    };
  },
  mounted() {
    this.lastRooms = getLastRooms();
  },
  methods: {
    gotoroom(room) {
      window.location.href = "/room/" + room;
    },
    last_seen_room_overview() {
      window.location.href = "/room/";
    },
  },
};
</script>