 <template>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link" @click="team_overview()">
      {{ t("groups") }}
    </a>
    <div class="navbar-dropdown">
      <a
        v-for="teamName in teams"
        :key="teamName"
        class="navbar-item"
        @click="gotoroom(teamName)"
      >
        {{ teamName }}
      </a>
    </div>
  </div>
</template>


<i18n lang="yaml">
en:
  groups: "Teams"
de:
  groups: "Gruppen"
  </i18n>

<script>
import { useI18n } from "vue-i18n";
import { getTeams } from "@/helper/profile.js";
export default {
  name: "NavBarGroups",
  setup() {
    const { t } = useI18n();
    return { t };
  },
  data() {
    return {
      teams: [],
    };
  },
  mounted() {
    this.teams = getTeams();
  },
  methods: {
    team_overview() {
      window.location.href = "/team/";
    },
    gotoroom(room) {
      window.location.href = "/team/" + room;
    },
  },
};
</script>
