 <template>
  <div class="navbar-item">
    <div class="control has-icons-left">
      <div class="select">
        <select v-model="locale">
          <option>en</option>
          <option>de</option>
        </select>
      </div>
      <span class="icon is-left">
        <font-awesome-icon :icon="['fas', 'globe']" />
      </span>
    </div>
  </div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faGlobe } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

import { useI18n } from "vue-i18n";

library.add(faGlobe);

export default {
  name: "NavBarLanguageChooser",
  components: {
    FontAwesomeIcon,
  },
  setup() {
    const { locale } = useI18n({ useScope: "global" });
    return {
      locale,
    };
  },
  watch: {
    /**
     * Watch for local changes and put them into local storage
     */
    locale(newLocal) {
      localStorage.Lang = newLocal;
    },
  },
  mounted() {
    if (localStorage.Lang != null) this.locale = localStorage.Lang;
  },
};
</script>