<template>
  <div class="panel-block">
    <div class="container is-max-widescreen">
      <form
        id="room-name-form"
        ref="RoomNameInputForm"
        class="field has-addons"
        method="POST"
        autocomplete="on"
        role="room-chooser"
        @submit.stop.prevent="submitRoomCodeOrPlaceholder($event)"
      >
        <input
          type="hidden"
          name="csrfmiddlewaretoken"
          :value="csrfMiddlewareToken"
        />
        <input
          type="hidden"
          name="room_team"
          :value="room_team"
        /><!-- value "room" or "team"   -->

        <div class="control has-icons-left is-expanded">
          <input
            v-model.trim="roomCode"
            type="text"
            class="input"
            name="room_code"
            :maxlength="max"
            :placeholder="randomName"
          />
          <span class="icon is-left">
            <font-awesome-icon icon="search" />
          </span>
        </div>
        <div v-if="loggedIn && teamOrRoom == 'both'" class="control">
          <div class="dropdown" :class="{ 'is-hoverable': !isNotAscii }">
            <div class="dropdown-trigger">
              <button
                class="button is-primary"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
                type="submit"
                :disabled="isNotAscii"
                @click="room_team = 'room'"
              >
                <span>{{ t("start-meeting") }}</span>
                <span class="icon is-small">
                  <font-awesome-icon :icon="['fas', 'angle-down']" />
                </span>
              </button>
            </div>
            <div id="dropdown-menu" class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <button
                  class="no-button-button dropdown-item"
                  type="submit"
                  @click="room_team = 'team'"
                >
                  {{ t("create-team") }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div v-else-if="teamOrRoom != 'team'" class="control">
          <button
            class="button is-primary"
            type="submit"
            :disabled="isNotAscii"
            @click="room_team = 'room'"
          >
            <span>{{ t("start-meeting") }}</span>
          </button>
        </div>
        <div v-else class="control">
          <button
            class="button is-primary"
            type="submit"
            :disabled="isNotAscii"
            @click="room_team = 'team'"
          >
            <span>{{ t("create-team") }}</span>
          </button>
        </div>
      </form>
      <div v-if="inputLength == max" class="help is-danger">
        {{ t("input-not-allowed-to-be-longer") }}
      </div>
      <div v-if="isNotAscii" class="help is-danger">
        {{ t("only-ascii-allowed") }}
      </div>
    </div>
  </div>
</template>

<i18n lang="yaml">
de:
  start-meeting: "Treffen beginnen"
  create-team: "Gruppe erstellen"
  input-not-allowed-to-be-longer: "Maximale Eingabelänge erreicht"
  only-ascii-allowed: "Name muss eine gültige Unicode-Zeichenfolge sein, die nur alphanumerische ASCII Zeichen enthält ohne Leerzeichen"
en:
  start-meeting: "Start Meeting"
  create-team: "Create Team"
  input-not-allowed-to-be-longer: "Maximun input lenght reached"
  only-ascii-allowed: "Name must be a valid unicode string containing only ASCII alphanumerics without whitespaces"

</i18n>

<script>
import {
  uniqueNamesGenerator,
  adjectives,
  colors,
  animals,
} from "unique-names-generator";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faSearch } from "@fortawesome/free-solid-svg-icons";
import { faAngleDown } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { useI18n } from "vue-i18n";

library.add(faSearch);
library.add(faAngleDown);

export default {
  name: "RoomNameInputForm",
  components: {
    FontAwesomeIcon,
  },
  props: {
    csrfMiddlewareToken: {
      type: String,
      required: true,
    },
    teamOrRoom: {
      type: String,
      default: "both", // both room team possible
    },
  },
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      randomName: "",
      roomCode: "",
      room_team: "",
      loggedIn: false,
      max: 50,
    };
  },
  computed: {
    /**
     * Check length of roomnames on input
     */
    inputLength: function () {
      return this.roomCode.length;
    },

    /**
     * Checks if input contains non ascii numbers
     */
    isNotAscii() {
      return !this.roomCode.match(/^[0-9a-z]*$/i);
    },
  },
  mounted() {
    /**
     * Get username from social-login account
     */
    var displayName = JSON.parse(
      document.getElementById("account-username").textContent
    );
    /**
     * Check if Username exists
     */
    if (displayName.length > 0) {
      this.displayName = displayName;
      this.loggedIn = true;
    }
  },
  created() {
    this.getRandomRoomName();
  },
  methods: {
    /**
     * Create random Roomnames using dictionaries of adjectives, colors and animals
     */
    getRandomRoomName() {
      this.randomName = uniqueNamesGenerator({
        dictionaries: [adjectives, colors, animals],
        style: "capital",
        separator: "",
      });
    },
    /**
     * Use random roomname in case no roomname is defined
     */
    submitRoomCodeOrPlaceholder(event) {
      if (event.target.room_code.value.length <= 0) {
        event.target.room_code.value = this.randomName;
      }

      event.target.submit();
    },
  },
};
</script>

<style scoped>
.no-button-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
</style>
