@charset "utf-8";

// Set your brand colors
$purple: #4527A0;
$purple-invert: findColorInvert($purple);
$purpleLight: #EDE7F6;


// Update Bulma's global variables
$primary: $purple;
$link: $purple;
$primary-light: $purpleLight;
$card-background-color: $purpleLight;

$footer-padding: 3rem;
$menu-item-active-background-color: $primary;


@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.sass";

