<template>
  <h1 class="title">
    {{ t("permissions") }}
  </h1>

  <div class="level has-text-centered">
    <div class="level-left">
      <div class="level-item">
        {{ t("select-user") }}
      </div>
      <div class="level-item">
        <div class="control">
          <div class="select is-primary">
            <select v-model="selectedUserChannel">
              <option disabled value="">Please select one</option>
              <option
                v-for="user in otherUsers"
                :key="user.userChannelName"
                :value="user.userChannelName"
              >
                {{ user.userName }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div v-if="selectedUserChannel != ''" :key="selectedUserChannel">
    <SwitchSettingElement
      v-for="permission in permissions"
      :key="permission"
      :name="permission.name"
      :checked="hasPermission(permission.name)"
      :disabled="isPermissionDisabled(permission.name)"
      @switchChanged="
        (checked) =>
          $emit('permissionChanged', selectedUser, permission.name, checked)
      "
    >
      <template #option-text>
        {{ permission.name }}
        <!-- {{ t("kick-user") }} -->
      </template>
    </SwitchSettingElement>
  </div>
</template>

<i18n lang="yaml">
en:
  permissions: "Permissions"
  select-user: "Select User"

de:
  permissions: "Berechtigungen"
  select-user: "Wähle Nutzer aus"
</i18n>

<script>
import { useI18n } from "vue-i18n";
import SwitchSettingElement from "@/components/settings/SwitchSettingElement.vue";

export default {
  name: "PermissionPanel",
  components: {
    SwitchSettingElement,
  },
  props: {
    currentUser: {
      type: Object,
      required: true,
    },
    otherUsers: {
      type: Object,
      required: true,
    },
    permissions: {
      type: Object,
      required: true,
    },
  },
  emits: ["permissionChanged"],
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      selectedUserChannel: "",
    };
  },
  computed: {
    /**
     * Returns funtion to select user in dropdown
     */
    selectedUser() {
      return this.otherUsers.find(
        (user) => user.userChannelName === this.selectedUserChannel
      );
    },
    /**
     * Returns function to check if permission can be changed
     */
    disabled() {
      return (permissionName) => {
        !this.currentUser.permissions.includes("change_permissions") ||
          !this.currentUser.permissions.includes(permissionName) ||
          (permissionName !== "permissions_not_changable" &&
            this.selectedUser.permissions.includes(
              "permissions_not_changable"
            ));
      };
    },
  },
  methods: {
    /**
     * retrun permissions for selected user
     */
    hasPermission(permissionName) {
      return this.selectedUser.permissions.includes(permissionName);
    },
    /**
     * return disabled permissions for selected user
     */
    isPermissionDisabled(permissionName) {
      return (
        !this.currentUser.permissions.includes("change_permissions") ||
        !this.currentUser.permissions.includes(permissionName) ||
        this.selectedUser.groups.includes("admin")
      );
    },
  },
};
</script>