<template>
  <aside id="selectPanel" class="menu column has-background-primary-light">
    <p class="menu-label">{{ t("settings") }}</p>
    <ul class="menu-list">
      <li>
        <a
          :class="{ 'is-active': clicked == 0 }"
          @click="
            $emit('indexChanged', 0);
            clicked = 0;
          "
          >{{ t("general") }}</a
        >
      </li>
      <li>
        <a
          :class="{ 'is-active': clicked == 1 }"
          @click="
            $emit('indexChanged', 1);
            clicked = 1;
          "
          >{{ t("permissions") }}</a
        >
      </li>
    </ul>
  </aside>
</template>
<i18n lang="yaml">
en:
  settings: "Settings"
  general: "General"
  permissions: "Permissions"

de:
  settings: "Einstellungen"
  general: "Allgemein"
  permissions: "Berechtigungen"
</i18n>
<script>
import { useI18n } from "vue-i18n";

export default {
  name: "SelectPanel",
  emits: ["indexChanged"],
  setup() {
    const { t } = useI18n();
    const { locale } = useI18n({ useScope: "global" });
    return {
      t,
      locale,
    };
  },
  data() {
    return {
      clicked: 0,
    };
  },
};
</script>
<style>
#selectPanel {
  display: flex;
  flex-direction: column;
}

#selectPanel > ul {
  flex-grow: 1;
}
</style>