<template>
  <transition name="modal">
    <div class="modal" :class="{ 'is-active': showModal }">
      <div class="modal-background" />
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ t("settings") }}</p>
          <button class="delete" aria-label="close" @click="hide" />
        </header>

        <section class="modal-card-body is-flex">
          <div class="columns is-flex-grow-1">
            <SelectPanel
              class="column is-one-third"
              @indexChanged="(newIndex) => (index = newIndex)"
            />

            <div class="column is-scrollable">
              <div v-if="index === 0" />
              <PermissionPanel
                v-else-if="index === 1"
                :other-users="otherUsers"
                :permissions="permissions"
                :current-user="currentUser"
                @permissionChanged="
                  (selectedUser, permissioName, hasPermission) =>
                    $emit(
                      'permissionChanged',
                      selectedUser,
                      permissioName,
                      hasPermission
                    )
                "
              />
            </div>
          </div>
        </section>

        <footer class="modal-card-foot">
          <button class="button is-primary" @click="hide">
            {{ t("close") }}
          </button>
        </footer>
      </div>
    </div>
  </transition>
</template>

<i18n lang="yaml">
en:
  settings: "Settings"
  close: "Close"

de:
  settings: "Einstellungen"
  close: "Schließen"
</i18n>
<script>
import { useI18n } from "vue-i18n";
import SelectPanel from "@/components/settings/SelectPanel.vue";
import PermissionPanel from "./PermissionPanel.vue";

export default {
  name: "SettingsModal",
  components: {
    SelectPanel,
    PermissionPanel,
  },
  props: {
    currentUser: {
      type: Object,
      required: true,
    },
    showModal: {
      type: Boolean,
      required: true,
    },
    otherUsers: {
      type: Object,
      required: true,
    },
    permissions: {
      type: Object,
      required: true,
    },
  },
  emits: ["update:showModal", "permissionChanged"],
  setup() {
    const { t } = useI18n();
    const { locale } = useI18n({ useScope: "global" });
    return {
      t,
      locale,
    };
  },
  data() {
    return {
      index: 0,
    };
  },
  methods: {
    /**
     * Function to close modal
     */
    hide() {
      this.$emit("update:showModal", false);
    },
  },
};
</script>

<style scoped>
.control {
  padding: 5px;
}

.modal-card {
  height: 75%;
  width: 75%;
}

.is-scrollable {
  height: 100%;
  overflow: auto;
}
</style>









