<template>
  <div class="level has-text-centered">
    <div class="level-left">
      <div class="level-item">
        <slot name="option-text" />
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">
        <div class="field">
          <input
            :id="name"
            v-model="checkedState"
            type="checkbox"
            class="switch is-rounded is-outlined"
            :disabled="disabled"
            @click="$emit('switchChanged', !checkedState)"
          />
          <label :for="name"></label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SwitchSettingElement",
  props: {
    name: {
      type: String,
      required: true,
    },
    checked: {
      type: Boolean,
      required: true,
    },
    disabled: {
      type: Boolean,
      required: true,
    },
  },
  emits: ["switchChanged"],
  data() {
    /**
     * Returns if switch is active or not
     */
    return { checkedState: this.checked };
  },
};
</script>