<template>
  <form action="/accounts/delete/" method="POST">
    <input
      type="hidden"
      name="csrfmiddlewaretoken"
      :value="csrfMiddlewareToken"
    />
    <button class="button is-primary" type="submit">
      {{ t("delete-profile") }}
    </button>
  </form>
</template>

<i18n lang="yaml">
en:  
  delete-profile: "Delete Profile"
de:  
  delete-profile: "Profil löschen"
</i18n>

<script>
import { useI18n } from "vue-i18n";

export default {
  /**
   * Deletes connection with social login account
   */
  name: "DeleteProfileButton",
  props: {
    csrfMiddlewareToken: {
      type: String,
      required: true,
    },
  },
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
};
</script>
