<template>
  <div class="panel my-6 frame has-text-centered">
    <p class="panel-heading">
      {{ t("profile") }}
    </p>
    <div class="is-flex is-horizontal-center mt-6">
      <figure class="image is-128x128">
        <img
          v-if="displayProfile"
          class="is-rounded"
          :src="displayProfile.accountAvatarUrl"
        />
      </figure>
    </div>
    <div class="block title is-6 mt-6">
      {{ t("username") }}
    </div>
    <div class="columns is-centered">
      <EditLabel
        :label-value="displayName"
        :edit-rights="true"
        class="column is-narrow"
        :check-input="checkNameAvailable"
        @labelChanged="onProfileNameChanged"
      >
        <template #icon-left>
          <font-awesome-icon icon="user-edit" />
        </template>
        <template #invalidHelp>
          {{ t("username-not-unique") }}
        </template>
      </EditLabel>
    </div>
    <DeleteProfileButton :csrf-middleware-token="csrfMiddlewareToken" />
  </div>
</template>

<i18n lang="yaml">
en:
  profile: "Profile"
  username: "Username"
  delete-profile: "Delete Profile"
  username-not-unique: "Username is already taken"
de:
  profile: "Profil"
  username: "Benutzername"
  delete-profile: "Profil löschen"
  username-not-unique: "Username ist schon vergeben"
</i18n>


<script>
import { useI18n } from "vue-i18n";
import EditLabel from "@/components/general/EditLabel.vue";
import DeleteProfileButton from "@/components/profile/DeleteProfileButton.vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faUserEdit } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

import { getDisplayName, getSocialAccountProfile } from "@/helper/profile.js";
import { getCrsfToken } from "@/helper/crsf.js";
import { postData } from "@/helper/request.js";

library.add(faUserEdit);

export default {
  name: "ProfilePanel",
  components: {
    EditLabel,
    DeleteProfileButton,
    FontAwesomeIcon,
  },
  emits: ["userNameChanged"],
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      displayName: "",
      displayProfile: null,
      csrfMiddlewareToken: "",
    };
  },
  mounted() {
    /**
     * Get Username
     */
    this.displayName = getDisplayName();
    this.csrfMiddlewareToken = getCrsfToken();
    /**
     * Get all logged in social account (Currently only one at the same time supported)
     */
    this.displayProfile = getSocialAccountProfile();
  },
  methods: {
    onProfileNameChanged(userName) {
      postData("/profile/changeUserName", this.csrfMiddlewareToken, {
        userName: userName,
      }).then((response) => {
        if (response.ok) {
          this.displayName = userName;
          this.$emit("userNameChanged", userName);
        }
      });
    },

    async checkNameAvailable(userName) {
      const response = await postData(
        "/profile/checkUserNameAvailable",
        this.csrfMiddlewareToken,
        {
          userName: userName,
        }
      );
      return response.ok;
    },
  },
};
</script>

<style scoped>
.frame {
  margin-right: auto;
  margin-left: auto;
  min-width: 35%;
}
.is-horizontal-center {
  justify-content: center;
}
.edit {
  margin-right: auto;
  margin-left: auto;
}
</style>
