{% load webpack_static from webpack_loader %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico">
    <title>Scrum Poker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
</head>

<body>
    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>

    {% csrf_token %}
    {% load account %}
    {% user_display user as display_name %}
    {{ display_name | json_script:"account-username" }}
    {% load socialaccount %}
    {{ socialaccount_list | json_script:"socialaccount_list" }}

    {{ teams | json_script:"teams" }}


    {% block content %}
    {% endblock %}
</body>

</html>