{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}

{% block content %}

<div id="app">
	<app></app>
</div>

{% render_bundle 'index' %}
{% render_bundle 'chunk-vendors' %}

{% endblock %}