{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}

{% block content %}
{{ socialaccount_providers_list | json_script:"socialaccount-providers"}}

<div id="app">
    <app></app>
</div>

{% render_bundle 'login' %}
{% render_bundle 'chunk-vendors' %}

{% endblock %}
