{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}

{% block content %}
{{ roomCode|json_script:'room-code' }}
{{room_team|json_script:'room_team'}}

<div id="app">
    <app></app>
</div>

{% render_bundle 'room' %}
{% render_bundle 'chunk-vendors' %}

{% endblock %}