{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}

{% block content %}
<!-- <h1>{{roomCode}}</h1> -->
<div id="app">
    <app></app>
</div>

{% render_bundle 'team_room_overview' %}
{% render_bundle 'chunk-vendors' %}

{% endblock %}