<template>
  <App>
    <div class="column is-flex is-flex-direction-column">
      <RoomNameInputForm :csrf-middleware-token="csrfMiddlewareToken" />
      <div class="columns my-3 is-centered is-flex-grow-1">
        <div class="panel container is-max-desktop ml-4 mr-3 mb-0">
          <LastSeenRooms />
        </div>
        <div
          v-if="loggedIn"
          class="panel container is-max-desktop mr-4 ml-3 mb-0"
        >
          <TeamRooms />
        </div>
      </div>
    </div>
  </App>
</template>

<script>
import App from "@/components/App.vue";
import RoomNameInputForm from "@/components/home/RoomNameInputForm.vue";
import LastSeenRooms from "@/components/LastSeenRooms.vue";
import TeamRooms from "@/components/TeamRooms.vue";
import { useI18n } from "vue-i18n";
import { getCrsfToken } from "@/helper/crsf.js";

export default {
  name: "HomeApp",
  components: {
    App,
    RoomNameInputForm,
    LastSeenRooms,
    TeamRooms,
  },
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      csrfMiddlewareToken: "",
      loggedIn: false,
    };
  },
  mounted() {
    this.csrfMiddlewareToken = getCrsfToken();

    /**
     * Get social-login username
     */
    var displayName = JSON.parse(
      document.getElementById("account-username").textContent
    );
    if (displayName.length > 0) {
      this.loggedIn = true;
    }
  },
};
</script>