<template>
  <App>
    <LoginPanel />
  </App>
</template>

<script>
import App from "@/components/App.vue";
import LoginPanel from "@/components/login/LoginPanel.vue";

export default {
  name: "LoginApp",
  components: {
    LoginPanel,
    App,
  },
};
</script>

<style></style>
