<template>
  <App ref="app">
    <ProfilePanel
      @userNameChanged="(userName) => $refs.app.nameChanged(userName)"
    />
  </App>
</template>

<script>
import App from "@/components/App.vue";
import ProfilePanel from "@/components/profile/ProfilePanel.vue";

export default {
  name: "ProfileApp",
  components: {
    ProfilePanel,
    App,
  },
};
</script>
<style></style>

