<template>
  <App v-if="loaded">
    <LeftPanel
      :current-user="currentUser"
      :other-users="otherUsers"
      :votings="votings"
      :curent-voting-index="currentVotingIndex"
      :roomcode="roomcode"
      @ownUserNameChanged="onOwnUserNameChanged"
      @userNameChanged="onUserNameChanged"
      @kickUser="onKickUser"
      @voteNameChanged="onVoteNameChanged"
      @addVoting="onAddVoting"
      @removeVoting="onRemoveVoting"
      @switchedVoting="(index) => (currentVotingIndex = index)"
    />
    <VotePanel
      ref="votePanel"
      :current-user="currentUser"
      :other-users="otherUsers"
      :voting="currentVoting"
      @voted="onVoted"
    />
    <RightPanel
      ref="rightPanel"
      :current-user="currentUser"
      :other-users="otherUsers"
      :voting="currentVoting"
      :permissions="permissions"
      @showVotes="onShowVotes"
      @reVote="onReVote"
      @nextVoting="onNextVoting"
      @permissionChanged="onPermissionChanged"
    />
  </App>
</template>

<script>
import App from "@/components/App.vue";
import LeftPanel from "@/components/room/LeftPanel";
import VotePanel from "@/components/room/VotePanel";
import RightPanel from "@/components/room/RightPanel";
import { useI18n } from "vue-i18n";
import { getFromLocalStorage, setToLocalStorage } from "@/localstorage";

export default {
  name: "RoomApp",
  components: {
    App,
    LeftPanel,
    VotePanel,
    RightPanel,
  },
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      roomcode: "",
      room_team: "",
      connection: null,
      currentUser: null,
      otherUsers: [],
      loaded: false,
      votings: null,
      currentVotingIndex: 0,
      permissions: [],
    };
  },
  computed: {
    currentVoting() {
      return this.votings[this.currentVotingIndex];
    },
  },
  mounted() {
    this.roomcode = JSON.parse(
      document.getElementById("room-code").textContent
    );
    this.updateLastrooms(this.roomcode);

    this.room_team = JSON.parse(
      document.getElementById("room_team").textContent
    );

    const connectionString =
      "ws://" +
      window.location.host +
      "/ws/" +
      this.room_team +
      "/" +
      this.roomcode +
      "/";
    this.connection = new WebSocket(connectionString);

    this.connection.onopen = () => {};

    this.connection.onmessage = (event) => {
      this.message(JSON.parse(event.data));
    };

    this.connection.onclose = () => {
      console.error("Connection closed unexpectedly");
    };
  },

  methods: {
    /**
     * Processes messages from websocket
     */
    message(message) {
      console.log(message);
      switch (message.type) {
        case "presence":
          this.presenceMessage(message.payload);
          break;
        case "kicked":
          this.kickedMessage();
          break;
        case "own_user":
          this.ownUserMessage(message.payload);
          break;
        case "votings":
          this.votingsMessage(message.payload);
          break;
        case "all_permissions":
          this.allPermissionsMessage(message.payload);
          break;
        default:
          console.log(`Unsupported event type ${message.type}`);
      }
    },
    /**
     * Returns all user in your room
     */
    presenceMessage(payload) {
      this.otherUsers = payload.users
        .filter(
          (user) => user.userChannelName !== this.currentUser.userChannelName
        )
        .sort((a, b) => a.userName.localeCompare(b.userName));
    },
    /**
     * Updates cache of last visited rooms
     */
    updateLastrooms(roomcode) {
      var lastrooms = getFromLocalStorage("lastrooms") || [];
      lastrooms = lastrooms.filter((room) => room != roomcode);
      lastrooms.unshift(roomcode);

      setToLocalStorage("lastrooms", lastrooms);
    },

    /**
     * Returns you your own user
     */
    ownUserMessage(payload) {
      this.currentUser = payload.user;
      if (payload.checkCookieCondition) {
        if (payload.changeCookie) {
          this.$cookie.setCookie("username", this.currentUser.userName, {
            sameSite: "Strict",
            path: window.location.pathname,
          });
        } else {
          if (this.$cookie.isCookieAvailable("username")) {
            var regExp = new RegExp(
              this.$cookie.getCookie("username") + "( \\([0-9]+\\))*"
            );
            if (!regExp.test(this.currentUser.userName)) {
              const userNameFromCookie = this.$cookie.getCookie("username");
              this.onUserNameChanged(this.currentUser, userNameFromCookie);
            }
          }
        }
      }
    },
    /**
     * Returns votings
     */
    votingsMessage(payload) {
      this.loaded = true; // This extra variable seems to be needed because of some vue bug? Directly checking for currentUser leads to weird behaviour

      this.votings = payload.votings;
      if (this.currentVotingIndex >= this.votings.length)
        this.currentVotingIndex = this.votings.length - 1;
    },
    /**
     * Returns you to Home
     */
    kickedMessage() {
      window.location.href = "/";
    },
    /**
     * Returns all permissions
     */
    allPermissionsMessage(payload) {
      this.permissions = payload.permissions;
    },
    /**
     * Returns own new username
     */
    onOwnUserNameChanged(userName) {
      this.onUserNameChanged(this.currentUser, userName);
      this.currentUser.userName = userName;
    },
    /**
     * Returns changed username from other users
     */
    onUserNameChanged(user, userName) {
      this.sendMessage("change_username", {
        userChannel: user.userChannelName,
        userName: userName,
      });
    },
    /**
     * Lets you kick other users
     */
    onKickUser(userChannel) {
      this.sendMessage("kick_user", {
        userChannel: userChannel,
      });
    },
    /**
     * Sends yout vote
     */
    onVoted(vote) {
      this.sendMessage("vote", {
        voting: this.votings[this.currentVotingIndex],
        vote: vote,
      });
    },
    /**
     * Shows votes from other users
     */
    onShowVotes() {
      this.sendMessage("show_votes", {
        voting: this.votings[this.currentVotingIndex],
      });
    },
    /**
     * Deletes last votes in current voting
     */
    onReVote() {
      this.sendMessage("revote", {
        voting: this.votings[this.currentVotingIndex],
      });
    },
    /**
     * Archive current voting state
     */
    onNextVoting() {
      this.sendMessage("next_voting", {
        voting: this.votings[this.currentVotingIndex],
      });
    },

    /**
     * Returns new name of voting
     */
    onVoteNameChanged(voting, votingName) {
      voting.name = votingName;
      this.sendMessage("voting_name_changed", {
        voting: voting,
      });
    },
    /**
     * Adds new voting
     */
    onAddVoting() {
      this.sendMessage("add_voting", {});
    },

    /**
     * Deletes voting
     */
    onRemoveVoting(voting) {
      this.sendMessage("remove_voting", {
        voting: voting,
      });
    },
    /**
     * Returns new permissions
     */
    onPermissionChanged(selectedUser, permissionName, hasPermission) {
      this.sendMessage("change_permission", {
        userChannel: selectedUser.userChannelName,
        permissioName: permissionName,
        hasPermission: hasPermission,
      });
    },
    /**
     * Sends message to websocket
     */
    sendMessage(type, payload) {
      console.log("Send Message " + type);
      console.log(payload);
      this.connection.send(
        JSON.stringify({
          type: type,
          payload: payload,
        })
      );
    },
  },
};
</script>