<template>
  <App>
    <div class="panel container is-max-desktop my-3">
      <RoomNameInputForm
        :csrf-middleware-token="csrfMiddlewareToken"
        :team-or-room="teamOrRoom"
      />
      <TeamRooms :show-input-field="true" />
    </div>
  </App>
</template>

<script>
import App from "@/components/App.vue";
import RoomNameInputForm from "@/components/home/RoomNameInputForm.vue";
import TeamRooms from "@/components/TeamRooms.vue";
import { useI18n } from "vue-i18n";
import { getCrsfToken } from "@/helper/crsf.js";

export default {
  name: "TeamRoomOverview",
  components: {
    App,
    RoomNameInputForm,
    TeamRooms,
  },
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      csrfMiddlewareToken: "",
      teamOrRoom: "team",
    };
  },
  mounted() {
    this.csrfMiddlewareToken = getCrsfToken();
  },
};
</script>

<style></style>