<template>
  <form :method="method" :action="action">
    <input
      type="hidden"
      name="csrfmiddlewaretoken"
      :value="csrfMiddlewareToken"
    />
    <button class="no-button-button dropdown-item" type="submit">
      <slot></slot>
    </button>
  </form>
</template>

<script>
import { getCrsfToken } from "@/helper/crsf.js";

export default {
  /**
   * Looks like a button but includes functionality of a dropdown
   */
  name: "DropdownButton",
  props: {
    method: {
      type: String,
      required: true,
    },
    action: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      csrfMiddlewareToken: "",
    };
  },
  mounted() {
    this.csrfMiddlewareToken = getCrsfToken();
  },
};
</script>

<style scoped>
.no-button-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
</style>