<template>
  <div class="level is-mobile is-align-items-start level-is-shrinkable">
    <div class="level-left">
      <button
        v-visible="editRights && !showEdit"
        class="level-item button is-primary is-small"
        @click="editLabelClicked"
      >
        <span class="icon is-left">
          <slot name="icon-left" />
        </span>
      </button>
      <div v-if="showEdit" class="field">
        <input
          v-if="showEdit"
          v-model="input"
          class="level-item input is-small is-primary is-outlined input-width"
          size="12.5"
          :maxlength="max"
          @input="inputChange"
          @keyup.enter="saveInput()"
          @keyup.esc="resetInput()"
        />
        <div v-if="inputLength == max" class="help is-danger">
          {{ t("input-not-allowed-to-be-longer") }}
        </div>
        <div v-if="inputLength == 0" class="help is-danger">
          {{ t("input-needs-at-least-one-char") }}
        </div>
        <div v-if="input == labelValue" class="help is-danger">
          {{ t("input-please-change-input") }}
        </div>
        <div v-if="!inputValid" class="help is-danger">
          <slot name="invalidHelp" />
        </div>
        <slot name="custom-help" />
      </div>
      <div v-else class="level-item">
        <a
          v-if="linkLabel"
          class="is-link no-white-space-wrap"
          @click="$emit('labelClicked')"
        >
          {{ labelValue }}
        </a>
        <div v-else class="no-white-space-wrap">{{ labelValue }}</div>
      </div>

      <slot name="content-label" />
    </div>

    <div v-if="showEdit" class="level-right">
      <button
        class="level-item button is-primary is-small is-outlined ml-4"
        @click="resetInput()"
      >
        {{ t("cancel") }}
      </button>
      <button
        class="level-item button is-primary is-small is-outlined"
        :disabled="saveDisabled"
        @click="saveInput()"
      >
        {{ t("save") }}
      </button>
    </div>
    <div v-else class="level-right">
      <slot name="content-right" />
    </div>
  </div>
</template>

<i18n lang="yaml">
en:
  cancel: "Cancel"
  save: "Save"
  input-not-allowed-to-be-longer: "Maximun input lenght reached"
  input-needs-at-least-one-char: "Use at least one character"
  input-please-change-input: "Please change to save"
de:
  cancel: "Abbrechen"
  save: "Speichern"
  input-not-allowed-to-be-longer: "Maximale Eingabelänge erreicht"
  input-needs-at-least-one-char: "Geben Sie mindestens ein Zeichen ein"
  input-please-change-input: "Ändern um zu speichern"
</i18n>

<script>
import { useI18n } from "vue-i18n";

export default {
  name: "EditLabel",
  directives: {
    visible: {
      mounted(element, binding) {
        element.style.visibility = binding.value ? "visible" : "hidden";
      },

      updated(element, binding) {
        element.style.visibility = binding.value ? "visible" : "hidden";
      },
    },
  },
  props: {
    editRights: {
      type: Boolean,
      default: false,
    },
    labelValue: {
      type: String,
      required: true,
    },
    checkInput: {
      type: Function,
      default() {
        return true;
      },
    },
    linkLabel: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["labelChanged", "labelClicked"],
  setup() {
    const { t } = useI18n();
    return {
      t,
    };
  },
  data() {
    return {
      showEdit: false,
      input: this.labelValue,
      max: 20,
      inputValid: true,
    };
  },
  computed: {
    /**
     * Disable Save-Button when nothing changed, input already exists and input empty
     */
    saveDisabled() {
      return (
        this.input == this.labelValue ||
        !this.inputValid ||
        this.inputLength == 0
      );
    },
    /**
     * Get length of input
     */
    inputLength() {
      return this.input.length;
    },
  },
  methods: {
    /**
     * Check if edit label is clicked
     */
    editLabelClicked() {
      this.input = this.labelValue;
      this.showEdit = true;
    },
    /**
     * Cancel editing
     */
    resetInput() {
      this.showEdit = false;
    },
    /**
     * Save input
     */
    saveInput() {
      if (this.saveDisabled) return;

      this.showEdit = false;
      this.$emit("labelChanged", this.input);
    },
    /**
     * Check if input is valid
     */
    async inputChange() {
      this.inputValid = await this.checkInput(this.input);
    },
  },
};
</script>

<style scoped>
.level-is-shrinkable .level-left,
.level-is-shrinkable .level-item,
.level-is-shrinkable .level-right {
  flex-shrink: 1;
}

.input-width {
  min-width: 8.5rem;
}

.no-white-space-wrap {
  white-space: nowrap;
}
</style>
